<h2>Enter your Workout Info</h2>
<form action="/workouts" method="posts">
<label>Name:</label>
<input type="text" name="name" placeholder="Type the name of your workout:"><br>

<label>Type of workout</label>
<label>Length of workout:</label>
<input type="text" name="duration" placeholder="Time duration"><label>minutes</label><br>

<label>Amount of Calories burned:</label>
<input type="text" name="calories_burned" placeholder="Enter the number of Calories burned!"><br>

<input type="submit" value="Submit Workout!">
</form>